@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

html, body, #map, #windy {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}
#map {
    z-index: 5;
}
#windy #bottom,
#windy #mobile-ovr-select,
#windy #embed-zoom {
    display: none !important;
}

#windy #logo-wrapper {
    top: initial;
    bottom: 65px;
}

#windy #logo-wrapper #logo {
    left: 80px;
}